[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ecos"]
	path = ecos
	url = https://github.com/seokhoonj/ecos
[submodule "kisopenapi"]
	path = kisopenapi
	url = https://github.com/seokhoonj/kisopenapi
[submodule "kosis"]
	path = kosis
	url = https://github.com/seokhoonj/kosis
